<main>
  <!-- search-popup -->
<div class="modal fade bs-example-modal-lg search-bg popup1" tabindex="-1" role="dialog">
<div class="modal-dialog modal-lg" role="document">
<div class="modal-content search-popup">
<div class="text-center">
  <a href="#" class="close2" data-dismiss="modal" aria-label="Close">× close</a>
</div>
<div class="row search-outer">
  <div class="col-md-11"><input type="text" placeholder="Search for products..." /></div>
  <div class="col-md-1 text-right"><a href="#"><i class="fa fa-search" aria-hidden="true"></i></a></div>
</div>
</div>
</div>
</div>
<!-- /search-popup -->
  <!-- slider-area -->
  <section id="home" class="slider-area slider-four fix p-relative">
     <div class="slider-circal-01"></div>

      <div class="slider-active">
<div class="single-slider slider-bg d-flex align-items-center">
              <div class="container">
                 <div class="row justify-content-center align-items-center">
                      <div class="col-lg-6 col-md-6">
                          <div class="slider-content s-slider-content">
                               <h2 data-animation="fadeInUp" data-delay=".4s">Place to find top Indian colleges and universities</h2>
                              <p data-animation="fadeInUp" data-delay=".6s">This is software that protects all your data, including strong security access. Use data as needed and provide security of all data very easily. </p>

                          </div>
                      </div>
                      <div class="col-lg-6 col-md-6">
                          <div class="img-main" data-animation="fadeInLeft" data-delay=".2s">
                             <!-- s-aliment-2 -->
                              <div class="s-aliment-2">
                                  <div class="icon-correct">
                                      <img src="../../assets/img/slider/correct.png" alt="icon">
                                  </div>

                                  <div class="aliment-icon-red2">
                                      <h5>Top 5% Indian College</h5>
                                      <div class="group-img">
                                          <img src="../../assets/img/slider/group-images.png" alt="icon"> <span>+100 others</span>
                                      </div>
                                      <a href="#"><img src="../../assets/img/slider/btnicon.png" alt="icon"> admission open</a>
                                  </div>
                              </div>
                                <!-- s-aliment-2-end -->
                              <img src="../../assets/img/slider/main.png" alt="slider-overlay">
                                <!-- s-aliment-1 -->
                               <div class="s-aliment-1 ">
                                  <div class="aliment-icon-red">
                                      <img src="../../assets/img/slider/banner-aliment-icon-1.png" alt="icon">
                                  </div>
                                  <div class="aliment-content">
                                      <h3 class="h3-title">IIT Delhi</h3>
                                      <p>sarojini nagar</p>
                                      <ul>
                                          <li>Admission open</li>
                                          <li>Jee accepted</li>
                                      </ul>
                                  </div>
                              </div>
                                <!-- s-aliment-1-end -->
                          </div>
                      </div>
                  </div>
              </div>
          </div>

          </div>


  </section>
  <!-- slider-area-end -->
  <!-- top-college-engineering -->
  <section id="services" class="services-area services-bg pt-120 pb-90 fix p-relative" style="">
       <div class="slider-circal-02"></div>
      <div class="container">
          <div class="row">
              <div class="col-xl-12 col-lg-12">
                  <div class="section-title pt-30 mb-50">
                      <h2>Top College - Engineering</h2>

                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-3 col-md-12 mb-30">
                  <div class="s-single-services">
                      <div class="services-icon">
                         <img src="../../assets/img/icon/f-icon1.png"/>
                      </div>
                      <div class="bar-icon"><img src="../../assets/img/icon/horizontal.png"/></div>
                      <div class="second-services-content">
                          <h5>IIT Delhi</h5>
                          <p>Indian Institute of Technology Delhi is one of the Twenty Three IITs created to be Centres of ..</p>
                          <a href="college-search-info.html">Read More</a>
                      </div>
                  </div>
              </div>
               <div class="col-lg-3 col-md-12 mb-30">
                  <div class="s-single-services">
                      <div class="services-icon">
                         <img src="../../assets/img/icon/f-icon1.png"/>
                      </div>
                      <div class="bar-icon"><img src="../../assets/img/icon/horizontal.png"/></div>
                      <div class="second-services-content">
                          <h5>IIT Delhi</h5>
                          <p>Indian Institute of Technology Delhi is one of the Twenty Three IITs created to be Centres of ..</p>
                           <a href="college-search-info.html">Read More</a>
                      </div>
                  </div>
              </div>
               <div class="col-lg-3 col-md-12 mb-30">
                  <div class="s-single-services">
                      <div class="services-icon">
                         <img src="../../assets/img/icon/f-icon1.png"/>
                      </div>
                      <div class="bar-icon"><img src="../../assets/img/icon/horizontal.png"/></div>
                      <div class="second-services-content">
                          <h5>IIT Delhi</h5>
                          <p>Indian Institute of Technology Delhi is one of the Twenty Three IITs created to be Centres of ..</p>
                           <a href="college-search-info.html">Read More</a>
                      </div>
                  </div>
              </div>
               <div class="col-lg-3 col-md-12 mb-30">
                  <div class="s-single-services">
                      <div class="services-icon">
                         <img src="../../assets/img/icon/f-icon1.png"/>
                      </div>
                      <div class="bar-icon"><img src="../../assets/img/icon/horizontal.png"/></div>
                      <div class="second-services-content">
                          <h5>IIT Delhi</h5>
                          <p>Indian Institute of Technology Delhi is one of the Twenty Three IITs created to be Centres of ..</p>
                           <a href="college-search-info.html">Read More</a>
                      </div>
                  </div>
              </div>
               <div class="col-lg-3 col-md-12 mb-30">
                  <div class="s-single-services">
                      <div class="services-icon">
                         <img src="../../assets/img/icon/f-icon1.png"/>
                      </div>
                      <div class="bar-icon"><img src="../../assets/img/icon/horizontal.png"/></div>
                      <div class="second-services-content">
                          <h5>IIT Delhi</h5>
                          <p>Indian Institute of Technology Delhi is one of the Twenty Three IITs created to be Centres of ..</p>
                           <a href="college-search-info.html">Read More</a>
                      </div>
                  </div>
              </div>
               <div class="col-lg-3 col-md-12 mb-30">
                  <div class="s-single-services">
                      <div class="services-icon">
                         <img src="../../assets/img/icon/f-icon1.png"/>
                      </div>
                      <div class="bar-icon"><img src="../../assets/img/icon/horizontal.png"/></div>
                      <div class="second-services-content">
                          <h5>IIT Delhi</h5>
                          <p>Indian Institute of Technology Delhi is one of the Twenty Three IITs created to be Centres of ..</p>
                           <a href="college-search-info.html">Read More</a>
                      </div>
                  </div>
              </div>
               <div class="col-lg-3 col-md-12 mb-30">
                  <div class="s-single-services">
                      <div class="services-icon">
                         <img src="../../assets/img/icon/f-icon1.png"/>
                      </div>
                      <div class="bar-icon"><img src="../../assets/img/icon/horizontal.png"/></div>
                      <div class="second-services-content">
                          <h5>IIT Delhi</h5>
                          <p>Indian Institute of Technology Delhi is one of the Twenty Three IITs created to be Centres of ..</p>
                           <a href="college-search-info.html">Read More</a>
                      </div>
                  </div>
              </div>
               <div class="col-lg-3 col-md-12 mb-30">
                  <div class="s-single-services">
                      <div class="services-icon">
                         <img src="../../assets/img/icon/f-icon1.png"/>
                      </div>
                      <div class="bar-icon"><img src="../../assets/img/icon/horizontal.png"/></div>
                      <div class="second-services-content">
                          <h5>IIT Delhi</h5>
                          <p>Indian Institute of Technology Delhi is one of the Twenty Three IITs created to be Centres of ..</p>
                           <a href="college-search-info.html">Read More</a>
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </section>
  <!-- top-college-engineering-end -->
  <!-- top-college-Management -->
  <section class="services-area services-bg pt-120 pb-90 fix p-relative" style="background:  #F9FAFE;">

      <div class="container">
          <div class="row">
              <div class="col-xl-12 col-lg-12">
                  <div class="section-title pt-30 mb-50">
                      <h2>Top College - Management</h2>
                  </div>
              </div>
          </div>
          <div class="row">
              <div class="col-lg-3 col-md-12 mb-30">
                  <div class="s-single-services">
                      <div class="services-icon">
                         <img src="../../assets/img/icon/f-icon1.png"/>
                      </div>
                      <div class="bar-icon"><img src="../../assets/img/icon/horizontal.png"/></div>
                      <div class="second-services-content">
                          <h5>IIT Delhi</h5>
                          <p>Indian Institute of Technology Delhi is one of the Twenty Three IITs created to be Centres of ..</p>
                           <a href="college-search-info.html">Read More</a>
                      </div>
                  </div>
              </div>
               <div class="col-lg-3 col-md-12 mb-30">
                  <div class="s-single-services">
                      <div class="services-icon">
                         <img src="../../assets/img/icon/f-icon1.png"/>
                      </div>
                      <div class="bar-icon"><img src="../../assets/img/icon/horizontal.png"/></div>
                      <div class="second-services-content">
                          <h5>IIT Delhi</h5>
                          <p>Indian Institute of Technology Delhi is one of the Twenty Three IITs created to be Centres of ..</p>
                           <a href="college-search-info.html">Read More</a>
                      </div>
                  </div>
              </div>
               <div class="col-lg-3 col-md-12 mb-30">
                  <div class="s-single-services">
                      <div class="services-icon">
                         <img src="../../assets/img/icon/f-icon1.png"/>
                      </div>
                      <div class="bar-icon"><img src="../../assets/img/icon/horizontal.png"/></div>
                      <div class="second-services-content">
                          <h5>IIT Delhi</h5>
                          <p>Indian Institute of Technology Delhi is one of the Twenty Three IITs created to be Centres of ..</p>
                           <a href="college-search-info.html">Read More</a>
                      </div>
                  </div>
              </div>
               <div class="col-lg-3 col-md-12 mb-30">
                  <div class="s-single-services">
                      <div class="services-icon">
                         <img src="../../assets/img/icon/f-icon1.png"/>
                      </div>
                      <div class="bar-icon"><img src="../../assets/img/icon/horizontal.png"/></div>
                      <div class="second-services-content">
                          <h5>IIT Delhi</h5>
                          <p>Indian Institute of Technology Delhi is one of the Twenty Three IITs created to be Centres of ..</p>
                           <a href="college-search-info.html">Read More</a>
                      </div>
                  </div>
              </div>
               <div class="col-lg-3 col-md-12 mb-30">
                  <div class="s-single-services">
                      <div class="services-icon">
                         <img src="../../assets/img/icon/f-icon1.png"/>
                      </div>
                      <div class="bar-icon"><img src="../../assets/img/icon/horizontal.png"/></div>
                      <div class="second-services-content">
                          <h5>IIT Delhi</h5>
                          <p>Indian Institute of Technology Delhi is one of the Twenty Three IITs created to be Centres of ..</p>
                           <a href="college-search-info.html">Read More</a>
                      </div>
                  </div>
              </div>
               <div class="col-lg-3 col-md-12 mb-30">
                  <div class="s-single-services">
                      <div class="services-icon">
                         <img src="../../assets/img/icon/f-icon1.png"/>
                      </div>
                      <div class="bar-icon"><img src="../../assets/img/icon/horizontal.png"/></div>
                      <div class="second-services-content">
                          <h5>IIT Delhi</h5>
                          <p>Indian Institute of Technology Delhi is one of the Twenty Three IITs created to be Centres of ..</p>
                           <a href="college-search-info.html">Read More</a>
                      </div>
                  </div>
              </div>
               <div class="col-lg-3 col-md-12 mb-30">
                  <div class="s-single-services">
                      <div class="services-icon">
                         <img src="../../assets/img/icon/f-icon1.png"/>
                      </div>
                      <div class="bar-icon"><img src="../../assets/img/icon/horizontal.png"/></div>
                      <div class="second-services-content">
                          <h5>IIT Delhi</h5>
                          <p>Indian Institute of Technology Delhi is one of the Twenty Three IITs created to be Centres of ..</p>
                           <a href="college-search-info.html">Read More</a>
                      </div>
                  </div>
              </div>
               <div class="col-lg-3 col-md-12 mb-30">
                  <div class="s-single-services">
                      <div class="services-icon">
                         <img src="../../assets/img/icon/f-icon1.png"/>
                      </div>
                      <div class="bar-icon"><img src="../../assets/img/icon/horizontal.png"/></div>
                      <div class="second-services-content">
                          <h5>IIT Delhi</h5>
                          <p>Indian Institute of Technology Delhi is one of the Twenty Three IITs created to be Centres of ..</p>
                           <a href="college-search-info.html">Read More</a>
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </section>
  <!-- top-college-Management-end -->
          <!-- testimonial-area -->
  <section class="testimonial-area pt-120 pb-105">
      <div class="container">
          <div class="row">
              <div class="col-lg-12">
                  <div class="section-title text-center mb-50">
                      <h2>
                      Trusted by 30k+ world class companies <br>& design teams
                      </h2>
                  </div>

              </div>

              <div class="col-lg-4">
                 <div class="single-testimonial text-center">
                   <div class="testi-author">
                      <img src="../../assets/img/testimonial/testi_avatar.png" alt="img">
                  </div>
                  <p>“I really like that I can have all in one place: I can send emails and text messages, I can have live chat, show pop-ups and push notifications on my website and create dynamic page content”</p>
                     <div class="testi-author">
                      <div class="ta-info">
                          <h6>Jenny Wilson</h6>
                          <span>Founder at Brain.co</span>
                      </div>
                  </div>
              </div>
              </div>
              <div class="col-lg-4">
                 <div class="single-testimonial text-center active">
                   <div class="testi-author">
                      <img src="../../assets/img/testimonial/testi_avatar2.png" alt="img">
                  </div>
                  <p>“I really like that I can have all in one place: I can send emails and text messages, I can have live chat, show pop-ups and push notifications on my website and create dynamic page content”</p>
                     <div class="testi-author">
                      <div class="ta-info">
                          <h6>Robert Fox</h6>
                          <span>Founder at Brain.co</span>
                      </div>
                  </div>
              </div>
              </div>
              <div class="col-lg-4">
                 <div class="single-testimonial text-center">
                   <div class="testi-author">
                      <img src="../../assets/img/testimonial/testi_avatar3.png" alt="img">
                  </div>
                  <p>“I really like that I can have all in one place: I can send emails and text messages, I can have live chat, show pop-ups and push notifications on my website and create dynamic page content”</p>
                     <div class="testi-author">
                      <div class="ta-info">
                          <h6>Kristin Watson</h6>
                          <span>Founder at Brain.co</span>
                      </div>
                  </div>
              </div>
              </div>
          </div>
      </div>
  </section>
  <!-- testimonial-area-end -->
<!-- brand-area -->
  <div class="brand-area pt-120 pb-120" style="background: #F8F9FB;">
      <div class="container">
            <div class="col-lg-12">
                  <div class="section-title text-center mb-50">
                      <h2>
                          Official Partners
                      </h2>
                      <p>Over 1 million users. Used by thousands of teams, <br>companies and organizations worldwide.</p>
                  </div>

              </div>
          <div class="row justify-content-center">
              <div class="col-xl-12">
                  <ul>
                      <li>
                          <div class="single-brand">
                               <img src="../../assets/img/brand/b-logo1.png" alt="img">
                          </div>
                      </li>
                      <li>
                          <div class="single-brand">
                               <img src="../../assets/img/brand/b-logo2.png" alt="img">
                          </div>
                      </li>
                      <li>
                          <div class="single-brand">
                               <img src="../../assets/img/brand/b-logo3.png" alt="img">
                          </div>
                      </li>
                      <li>
                          <div class="single-brand">
                               <img src="../../assets/img/brand/b-logo4.png" alt="img">
                          </div>
                      </li>
                      <li>
                          <div class="single-brand">
                               <img src="../../assets/img/brand/b-logo5.png" alt="img">
                          </div>
                      </li>
                      <li>
                          <div class="single-brand">
                               <img src="../../assets/img/brand/b-logo6.png" alt="img">
                          </div>
                      </li>
                      <li>
                          <div class="single-brand">
                               <img src="../../assets/img/brand/b-logo7.png" alt="img">
                          </div>
                      </li>
                      <li>
                          <div class="single-brand">
                               <img src="../../assets/img/brand/b-logo8.png" alt="img">
                          </div>
                      </li>
                      <li>
                          <div class="single-brand">
                               <img src="../../assets/img/brand/b-logo9.png" alt="img">
                          </div>
                      </li>
                  </ul>

              </div>

          </div>
      </div>
  </div>
  <!-- brand-area-end -->
