<header class="header-area header-three">
  <div id="header-sticky" class="menu-area">
          <div class="container">
              <div class="second-menu">
                  <div class="row align-items-center">
                      <div class="col-xl-2 col-lg-2">
                          <div class="logo">
                              <a href="index.html"><img src="assets/img/logo/logo.png" alt="logo"></a>
                          </div>
                      </div>
                     <div class="col-xl-8 col-lg-8">

                          <div class="main-menu text-center">
                              <nav id="mobile-menu">
                                   <ul>
                                      <li class="has-sub">
                                          <a href="college-search.html">Colleges/ Universities</a>
                                      </li>
                                      <li><a href="#about">Catgeory           </a></li>
                                      <li class="has-sub"><a href="#pricing">About</a></li>

                                      <li class="has-sub">
                                          <a href="#blog">Blog</a>
                                      </li>
                                      <li><a href="#contact">Contact</a></li>
                                  </ul>
                              </nav>
                          </div>
                      </div>
                      <div class="col-xl-2 col-lg-2  d-none d-lg-block mt-30 mb-30 text-right">
                          <div class="login">
                              <ul>
                                  <li>
                                     <a href="#"> Login </a>

                                  </li>
                                  <li><div class="second-header-btn">
                             <a href="register.html" class="btn smoth-scroll">register</a>
                          </div></li>
                              </ul>

                          </div>

                      </div>

                          <div class="col-12">
                              <div class="mobile-menu"></div>
                          </div>
                  </div>
              </div>
          </div>
      </div>
  </header>
